<%= form_for @clip, :html => { :class => "form-horizontal clip" } do |f| %>

	<%= f.hidden_field :youtube_id %>
	<%= f.hidden_field :start %>
	<%= f.hidden_field :end %>
	
	<div class="row margin-top-20">
		<div class="col-md-12">
			<input type="hidden" class="range-slider" id="range-slider" value="190" />
		</div>
	</div>
	
	<div class="row margin-top-40">
		<div class="col-md-12">
			<%= f.submit nil, :class => 'btn btn-primary' %>
		</div>
	</div>

<% end %>
