<%= render 'layouts/youtube_api.js.erb' %>

<%= render 'show.js.erb' %>

<%= hidden_field_tag('clip_youtube_id', @clip.youtube_id) %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= render 'player' %>
		<div class="row margin-top-20">
			<div class="col-md-12">
				<h3 class="text-center share-link">
					<a href="<%= heroku_link(@clip.permalink) %>">share clip</a>
				</h3>
			</div>
			<div class="col-md-12 text-center">
				<% @clip.tags.each do |t| %>
					<a href="<%= tag_path(t.name) %>">#<%= t.name %></a>
				<% end %>
			</div>	
		</div>
	</div>
</div>

<div class="row">
		
</div>