<%= render 'layouts/youtube_api.js.erb' %>

<%= render 'show.js.erb' %>

<%= hidden_field_tag('clip_youtube_id', @clip.youtube_id) %>

<%= render 'player' %>

<div class="row">
	<div class="col-md-12">
		<h6 class="text-center">share</h6>
		<h3 class="text-center share-link">
			<a href="<%= heroku_link(@clip.permalink) %>"><%= @clip.permalink %></a>
		</h3>
	</div>	
</div>